# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/dist
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/
/Application/bin

# production
# /build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.local

# vercel
.vercel


# typescript
*.tsbuildinfo
next-env.d.ts
/Application/bin/
/Application/obj/
/CmpNatural.CrmManagment/bin/
/CmpNatural.CrmManagment/obj/
/CMPPayment/bin/
/CMPPayment/obj/
/Core/bin/
/Core/obj/
/CrmManagment/bin/
/CrmManagment/obj/
/infrastructure/bin/
/infrastructure/obj/
/ScoutDirect/bin/
/ScoutDirect/obj/
/ScoutDirect/FileContent/
/ScoutDirect/appsettings.json/
/ScoutDirect/log/
/CMPEmail/bin/
/CMPEmail/obj/
/.vs/
/.idea/
